[submodule "core"]
	path = core
	url = https://github.com/openconnectivityfoundation/core.git
[submodule "iotdatamodels"]
	path = iotdatamodels
	url = https://github.com/OpenInterConnect/IoTDataModels.git
[submodule "security"]
	path = security
	url = https://github.com/openconnectivityfoundation/security-models.git
